:root {
	--dk-purple: #510c76;
	--purple: #8348ad;
	--lt-purple: #9e28b5;
	--med-gray: #98999b;
	--green: #4c9c2e;
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
}

#alumniBusinessDirectory .slds-p-horizontal_x-small {
	color: var(--white);
	padding: 4rem;
	border: 1px solid var(--dk-purple);
	background-image: linear-gradient(to right, var(--dk-purple), var(--purple));
}

#alumniBusinessDirectory .slds-wrap {
	justify-content: space-between;
}

@media (min-width: 64em) {
	#alumniBusinessDirectory .slds-large-size_1-of-4,
	#alumniBusinessDirectory .slds-large-size--1-of-4 {
		width: 100%;
	}

	#alumniBusinessDirectory .slds-large-size_2-of-4,
	#alumniBusinessDirectory .slds-large-size--2-of-4,
	#alumniBusinessDirectory .slds-large-size_3-of-4,
	#alumniBusinessDirectory .slds-large-size--3-of-4,
	#alumniBusinessDirectory .slds-large-size_4-of-4,
	#alumniBusinessDirectory .slds-large-size--4-of-4 {
		width: 30%;
	}
}
