/*
* ex. from Google Fonts
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
	--dk-purple: #510c76;
	--purple: #8348ad;
	--lt-purple: #9e28b5;
	--med-gray: #98999b;
	--green: #4c9c2e;
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
}

#alumniBusinessDirectory {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
}

#alumniBusinessDirectory .slds-p-horizontal_x-small {
	padding: 2rem;
	border: 1px solid var(--dk-purple);
	background-image: linear-gradient(to right, var(--dk-purple), var(--purple));
}

#alumniBusinessDirectory .slds-p-horizontal_x-small > .slds-p-horizontal_x-small {
	padding: 0.5rem 1rem;
	margin: 1rem 0 0;
	background: var(--white);
}

#alumniBusinessDirectory .slds-m-around_xx-small,
#alumniBusinessDirectory .slds-m-around--xx-small {
	display: block;
}

#alumniBusinessDirectory .slds-wrap {
	justify-content: space-between;
}

#alumniBusinessDirectory .slds-form-element__label {
	color: var(--white);
	letter-spacing: 0.5px;
}

#alumniBusinessDirectory .slds-input,
#alumniBusinessDirectory .slds-input_faux {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	padding: 0.5rem;
	border-radius: 0;
}

#alumniBusinessDirectory .slds-input::placeholder {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-transform: capitalize;
}

#alumniBusinessDirectory .slds-input__icon.slds-input__icon_left.slds-icon-text-default {
	display: block;
	top: 50%;
	transform: translateY(-50%);
	left: auto;
	right: 1rem;
	margin-top: 0;
	width: 1.5rem;
	height: 1.5rem;
	pointer-events: none;
}

#alumniBusinessDirectory .slds-p-around_small,
#alumniBusinessDirectory .slds-p-around--small {
	padding: 0;
	margin: 1rem 0 0;
}

#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4 {
	padding: 0;
	margin: 0 0 0.5rem;
}

@media (min-width: 64em) {
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4,
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4 {
		width: 100%;
	}

	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(2),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(2),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(3),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(3),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(4),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(4) {
		width: 32%;
	}
}
