/*
* ex. from Google Fonts
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

:root {
	--dk-purple: #510c76;
	--purple: #8348ad;
	--lt-purple: #9e28b5;
	--med-gray: #98999b;
	--green: #4c9c2e;
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
}

#alumniBusinessDirectory {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
}

#alumniBusinessDirectory .slds-p-horizontal_x-small {
	padding: 2rem;
	border: 1px solid var(--dk-purple);
	background-image: linear-gradient(to right, var(--dk-purple), var(--purple));
}

#alumniBusinessDirectory .slds-wrap {
	justify-content: space-between;
}

#alumniBusinessDirectory .slds-form-element__label {
	color: var(--white);
}

#alumniBusinessDirectory .slds-input,
#alumniBusinessDirectory .slds-input_faux {
	padding: 0.5rem;
	border-radius: 0;
}

#alumniBusinessDirectory .slds-input::placeholder {
	text-transform: capitalize;
}

#alumniBusinessDirectory .slds-input__icon.slds-input__icon_left.slds-icon-text-default {
	display: block;
	left: unset;
	right: 1rem;
	width: 1.5rem;
	height: 1.5rem;
}

@media (min-width: 64em) {
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4,
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4 {
		width: 100%;
		padding: 0;
	}

	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(2),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(2),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(3),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(3),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size_1-of-4:nth-of-type(4),
	#alumniBusinessDirectory .slds-grid.slds-wrap .slds-large-size--1-of-4:nth-of-type(4) {
		width: 32%;
		padding: 0;
	}
}
